<a href="https://colab.research.google.com/github/ehye1/data-python/blob/main/chapter17.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**17-1 자료 구조란?**

자료 구조 = 그릇

데이터를 담고 있는 변수의 모양을 의미한다

데이터 프레임 자료 구조로 된 변수의 평균값 구하기 - mean()

리스트 자료 구조로 된 변수의 평균값 구하기 - sum() / len() or 데이터 프레임으로 바꾸기

**17-2 스칼라**

스칼라 - 하나의 값으로 구성된 자료 구조 (자료 구조를 만드는 가장 작은 기본 단위)

In [3]:
#스칼라 만들기 (변수에 값을 하나만 할당)
x = 1
type(x)

int

In [4]:
#변수 타입 바꾸기
var1 =  1
var2 = str(var1)
type(var2)

str

**17-3 리스트**

리스트 - 여러 값을 나열한 자료 구조

In [5]:
#리스트 만들기
x = [1, 2, 'a', 'b']
type(x)

list

In [6]:
#연속된 값 추출하기
x[1:3]

[2, 'a']

In [7]:
#값 추가하기
x.append(8)
x

[1, 2, 'a', 'b', 8]

In [8]:
#값 삭제하기
x.remove(2)
x

[1, 'a', 'b', 8]

In [9]:
#값 변경하기
x[0] = 9
x

[9, 'a', 'b', 8]

**17-4 튜플**

튜플 - 여러 값을 나열한 자료 구조

but 값 수정 불가 (추가, 삭제, 변경 X)

In [10]:
#튜플 만들기
x = (1, 2, 'a', 'b')
type(x)

tuple

In [11]:
#() 생략 가능
x = 1, 2, 'a', 'b'
type(x)

tuple

**17-5 딕셔너리**

딕셔너리 - 키와 값이 짝을 이루어 나열된 자료 구조

In [12]:
#딕셔너리 만들기
x = {'name' : 'kim'}
type(x)

dict

In [19]:
#키-값 쌍 여러 개 담기(다양한 자료구조로)
x = {'id' : 1, 'name' : ['kim', 'park'], 'nclass' : (1, 2, 3)}
x

{'id': 1, 'name': ['kim', 'park'], 'nclass': (1, 2, 3)}

In [20]:
#id 키의 값 추출
x['id']

1

In [21]:
#값 추가하기
x['score'] = [5, 6, 7]
x

{'id': 1, 'name': ['kim', 'park'], 'nclass': (1, 2, 3), 'score': [5, 6, 7]}

In [22]:
#값 삭제하기
del x['id']
x

{'name': ['kim', 'park'], 'nclass': (1, 2, 3), 'score': [5, 6, 7]}

In [23]:
#name 키의 1번째 요소 삭제
del x['name'][1]
x

{'name': ['kim'], 'nclass': (1, 2, 3), 'score': [5, 6, 7]}

In [24]:
#값 변경하기
x['score'] = [7, 8, 9]
x

{'name': ['kim'], 'nclass': (1, 2, 3), 'score': [7, 8, 9]}

In [26]:
#키 변경(기존 키를 새 키에 할당 -> 기존 키 삭제)
x['math'] = x['score']
del x['score']
x

{'name': ['kim'], 'nclass': (1, 2, 3), 'math': [7, 8, 9]}

**17-6 시리즈**

시리즈 - 데이터 프레임을 구성하는 하위 요소

In [28]:
#시리즈 만들기
import pandas as pd
x_num = pd.Series([3, 4, 5])
x_num

0    3
1    4
2    5
dtype: int64

In [29]:
type(x_num)

pandas.core.series.Series

In [30]:
#인덱스 정하기
x_label = pd.Series([3, 4, 5], index = ['kim', 'lee', 'park'])
x_label

kim     3
lee     4
park    5
dtype: int64

In [31]:
#값 추가하기 (새로 만들 인덱스에 값 할당)
x_num[3] = 9
x_num

0    3
1    4
2    5
3    9
dtype: int64

In [32]:
#값 삭제하기
del x_num[2]
x_num

0    3
1    4
3    9
dtype: int64

In [33]:
#값 변경하기
x_num[3] = 4
x_num

0    3
1    4
3    4
dtype: int64